# Import Libraries

In [11]:
from pathlib import Path
import os
from dotenv import load_dotenv
import mysql.connector as conn

# Load environment variables

In [12]:
load_dotenv()

# Get environment variables
DB_HOST = os.getenv('host')
DB_USER = os.getenv('user')
DB_PASSWORD = os.getenv('password')
DB_NAME = os.getenv('database')

# Configure MySQL Database

In [13]:
db_config = {
    'host': DB_HOST,
    'user': DB_USER,
    'password': DB_PASSWORD,
    'database': DB_NAME,
    'allow_local_infile': True  # Required for local file loading
}

# Connect MySQL

In [14]:
connection = conn.connect(**db_config)
cursor = connection.cursor()

# Create a MySQL Table for our Dataset

In [18]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS nashvillehousing (
    UniqueID INT PRIMARY KEY,
    ParcelID VARCHAR(50),
    LandUse VARCHAR(50),
    PropertyAddress VARCHAR(200),
    SaleDate VARCHAR(50),
    SalePrice DECIMAL(15,2),
    LegalReference VARCHAR(50),
    SoldAsVacant VARCHAR(5),
    OwnerName VARCHAR(100),
    OwnerAddress VARCHAR(200),
    Acreage DECIMAL(10,2),
    TaxDistrict VARCHAR(100),
    LandValue DECIMAL(15,2),
    BuildingValue DECIMAL(15,2),
    TotalValue DECIMAL(15,2),
    YearBuilt INT,
    Bedrooms INT,
    FullBath INT,
    HalfBath INT
)
""")
connection.commit()

# Load data into the Table

In [19]:
cursor.execute("""  
    LOAD DATA LOCAL INFILE 'D:/Git-Hub Projects/DATA-ANALYSIS-PROJECTS/Housing_Data_Cleaning_with_SQL/Nashville Housing Data for Data Cleaning.csv'  
    INTO TABLE nashvillehousing  
    FIELDS TERMINATED BY ',' 
    ENCLOSED BY '"'
    LINES TERMINATED BY '\n'
    IGNORE 1 LINES;
""")  
connection.commit()

# Fetch Data for confirmation

In [21]:
cursor.execute("SELECT * FROM nashvillehousing")
result = cursor.fetchall()
for row in result[:5]:  # Display first 5 rows
    print(row)

(0, '105 03 0D 008.00', 'RESIDENTIAL CONDO', '1208  3RD AVE S, NASHVILLE', 'January 24, 2013', Decimal('132000.00'), '20130128-0008725', 'No', '', '', Decimal('0.00'), '', Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), 0, 0, 0, 0)
(1, '105 11 0 080.00', 'SINGLE FAMILY', '1802  STEWART PL, NASHVILLE', 'January 11, 2013', Decimal('191500.00'), '20130118-0006337', 'No', 'STINSON, LAURA M.', '1802  STEWART PL, NASHVILLE, TN', Decimal('0.17'), 'URBAN SERVICES DISTRICT', Decimal('32000.00'), Decimal('134400.00'), Decimal('168300.00'), 1941, 2, 1, 0)
(2, '118 03 0 130.00', 'SINGLE FAMILY', '2761  ROSEDALE PL, NASHVILLE', 'January 18, 2013', Decimal('202000.00'), '20130124-0008033', 'No', 'NUNES, JARED R.', '2761  ROSEDALE PL, NASHVILLE, TN', Decimal('0.11'), 'CITY OF BERRY HILL', Decimal('34000.00'), Decimal('157800.00'), Decimal('191800.00'), 2000, 3, 2, 1)
(3, '119 01 0 479.00', 'SINGLE FAMILY', '224  PEACHTREE ST, NASHVILLE', 'January 18, 2013', Decimal('32000.00'), '20130128-0008863', 'No', 'WHITFORD, KAREN', '224  PEACHTREE ST, NASHVILLE, TN', Decimal('0.17'), 'URBAN SERVICES DISTRICT', Decimal('25000.00'), Decimal('243700.00'), Decimal('268700.00'), 1948, 4, 2, 0)
(4, '119 05 0 186.00', 'SINGLE FAMILY', '316  LUTIE ST, NASHVILLE', 'January 23, 2013', Decimal('102000.00'), '20130131-0009929', 'No', 'HENDERSON, JAMES P. & LYNN P.', '316  LUTIE ST, NASHVILLE, TN', Decimal('0.34'), 'URBAN SERVICES DISTRICT', Decimal('25000.00'), Decimal('138100.00'), Decimal('164800.00'), 1910, 2, 1, 0)

# Fetching a particular row to match with the csv

In [22]:
cursor.execute("Select * from nashvillehousing where UniqueID = 2045")
result = cursor.fetchall()
print(result)

[(2045, '007 00 0 125.00', 'SINGLE FAMILY', '1808  FOX CHASE DR, GOODLETTSVILLE', 'April 9, 2013', Decimal('240000.00'), '20130412-0036474', 'No', 'FRAZIER, CYRENTHA LYNETTE', '1808  FOX CHASE DR, GOODLETTSVILLE, TN', Decimal('2.30'), 'GENERAL SERVICES DISTRICT', Decimal('50000.00'), Decimal('168200.00'), Decimal('235700.00'), 1986, 3, 3, 0)]